/** Add css rules here for your application. */

h1 {
    font-size: 2em;
    font-weight: bold;
    text-align: center;
}

body, td, a, div, .p {
    font-family: arial, sans-serif
}

.gwt-DateBox{
    border: 2px inset #EBE9ED;
}

#content{
    width: 100%;
}

.buttons{
    width: 50%;
}
